@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Crm Application</h1>
    
    <br />  

    <ul>
        <li>Login</li>
        <li>Navigate to accounts</li>
    </ul>
</div>
